<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Luxury", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Home", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
                <ul class="nav navbar-nav" style="float:right !important">
                    @if (Session["UsernameSS"] != null)
                    {
                        <li style="margin-left:15px;"><p style="color:#fff">Hello @Session["UsernameSS"]</p></li>
                        <li class="ms-2">@Html.ActionLink("Logout", "logout", "Customer")</li>
                    }
                    else
                    {
                        <li class="me-2">@Html.ActionLink("SignUp", "SignUp", "Customer")</li>
                        <li class="me-2">@Html.ActionLink("SignIn", "Login", "Customer")</li>

                    }
                </ul>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label>@ViewBag.Notification</label>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
